{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
  <ul class="pagination justify-content-center">
    {{ if .Paginator.HasPrev }}
    <li class="page-item"><a class="page-link" href="{{ .Paginator.Prev.URL }}">Página anterior</a></li>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <li class="page-item"><a class="page-link" href="{{ .Paginator.Next.URL }}">Página seguinte</a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}
